spring:
  application:
    name: auth-service
  cloud:
    config:
      discovery:
        enabled: true
        service-id: SWIFTSHOPCONFIGSERVER  # This MUST match the name in your Eureka image
      fail-fast: true
  config:
    import: "optional:configserver:"

eureka:
  client:
    serviceUrl:
      defaultZone: http://72.61.249.10:8761/eureka/