spring:
  application:
    name: auth-service
  cloud:
    config:
      discovery:
        enabled: true
        service-id: SWIFTSHOPCONFIGSERVER  # Match the name from your Eureka screenshot!
      fail-fast: true
  config:
    import: "optional:configserver:"

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/