spring:
  application:
    name: auth-service
  cloud:
    config:
      fail-fast: true
  config:
    import: "optional:configserver:http://72.61.249.10:8888/"

eureka:
  client:
    serviceUrl:
      defaultZone: http://72.61.249.10:8761/eureka/